@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");

:root {
	--font-space: "Space Grotesk", sans-serif;

	--active-input-border: linear-gradient(#6448fe, #7906bc);
	--input-errors: #ff5252;
	--white: #ffffff;
	--light-grayish-violet: #dedddf;
	--dark-grayish-violet: #8e8593;
	--deep-violet: #21092f;
	--very-dark-violet: #21092f;
}
